build --cxxopt="-std=c++2a"

build --cxxopt="-Wextra"
build --cxxopt="-Werror"
build --cxxopt="-Wno-unused-parameter" # Added because of protobuf compilation
# build --cxxopt="-Wshadow"  # Disabled because of protobuf compilation
# build --cxxopt="-Wnon-virtual-dtor" # Disabled because of Abseli compilation
# build --cxxopt="-pedantic" # Disabled because of protobuf compilation

build --linkopt="-fsanitize=address"

build:Debug --compilation_mode=dbg
build:Release -c opt --cxxopt=-O3

test --test_output=errors
test --compilation_mode=dbg
