build --cxxopt="-std=c++2a"

build --cxxopt="-Wextra"
build --cxxopt="-Werror"
build --cxxopt="-Wno-unused-parameter" # Added because of protobuf compilation
# build --cxxopt="-Wshadow"  # Disabled becuase protobuf doesn't compile with it
build --cxxopt="-Wnon-virtual-dtor"
build --cxxopt="-pedantic"

build --linkopt="-fsanitize=address"

build:Debug --compilation_mode=dbg
