name: Q&A

on:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: tools/build.sh
      - name: test
        run: tools/test_all.sh
